.calculator-table {
	font-size: 14px;
	color: $dark-gray;
	font-weight: 400;
	border-collapse: separate;
	border: none;
	

	@include media-breakpoint-up(md) {
		border: 1px solid $gray-100;
		border-radius: 5.5px;
	}

	thead, tr, td, th, tbody {
		border: .5px solid $gray-100;
		padding: 5px;
    	vertical-align: middle;
	}

	thead {
		font-weight: 600;
		font-size: 15px;
		display: none;

		@include media-breakpoint-up(md) {
			display: contents;
		}

		tr {
			th {
				text-align: center;
				border: .5px solid $gray-100;
				border-bottom-width: .5px;
			}

			th.disabled {
				background: #f5f7fa;
			}

		}
	}

	tr.mobile-row {
		th, td {
			width: 100%;
			display: block;
		    border: none;
		    text-align: left;

		    .mobile-label {
		    	display: inline-block;
		    	font-size: 12px;
		    	color: $light-gray;
		    	padding-left: 5px;
		    	margin-right: 20px;
		    	margin-bottom: 0;
		    }

		    input {
		    	text-align: left;
		    	border: 1px solid $gray-100;
		    	border-radius: 5px;
		    	color: $light-gray;
		    	width: 150px;
		    	display: inline-block;
		    	font-size: 12px;
		    }

		    span {
		    	color: $gray-100;
		    	font-size: 12px;
		    }
		}

		td.disabled {
			color: $light-gray;
		}

		@include media-breakpoint-up(md) {
			th, td {
				width: auto;
				display: table-cell;
				border: .5px solid $gray-100;
				border-bottom-width: .5px;

				.mobile-label {
			    	display: none;
			    }

			    input {
			    	text-align: center;
			    	border: none;
			    	display: table-cell;
			    	font-size: 15px;
			    	width: auto;
			    }

			    span {
			    	font-size: 15px;
			    }
			}

			td {
				text-align: center;
			}

			td.disabled {
				background: #f5f7fa;
			}
		}
	}

	tr {

		.row-header {
			padding: 10px;
			min-width: auto;

			@include media-breakpoint-up(sm) {
				padding: 10px;
				min-width: 270px;
			}

			@include media-breakpoint-up(lg) {
				padding: 15px 25px;
				min-width: auto;
			}

			.tooltip {
				position: relative;
				margin-left: 5px;
				display: inline-block;
				z-index: 100;

				&:hover {

					.copy {
						display: block;
					}
					
				}

				.copy {
					position: absolute;
				    left: 28px;
				    border-radius: 5px;
				    top: -32.5px;
					background: $calc-blue;
					color: $white;
				    font-weight: 500;
				    font-size: 11px;
				    line-height: 1.3;
				    padding: 20px;
				    margin: 0;
				    height: 80px;
				    width: 150px;
					display: none;

					&:before {
						content: '';
					    height: 0;
					    position: absolute;
					    width: 0;
					    top: 37.5px;
					    left: -10px;
					    border: 5px solid transparent;
					    border-right: 5px solid $calc-blue;
					}
				}
				
				.icon {
					width: 16px;	
					cursor: pointer;

					
				}
			}
		}
	

		th {
			vertical-align: middle;
			padding: 15px 25px;
		}

		td {
			text-align: center;
			position: relative;

			input, span {
				padding: 5px 10px;
				font-size: 15px;
				border: none;
			    width: 100%;
			    box-sizing: border-box;
			    

			    &:focus, &:hover {
			    	outline: none;
			    }
			}
		}

		td.input {
			.input-error-message {
				position: absolute;
				left: 50%;
				transform: translate(-50%);
			    border-radius: 5px;
			    top: 40px;
				background: $red;
				color: $white;
			    font-weight: 500;
			    font-size: 11px;
			    line-height: 1.3;
			    padding: 10px;
			    margin: 0;
			    width: 100px;
			    z-index: 100;

			    p {
			    	margin: 0;
			    }

				&:before {
					content: '';
				    height: 0;
				    position: absolute;
				    width: 0;
				    top: -10px;
				    left: 47.5px;
				    border: 5px solid transparent;
				    border-bottom: 5px solid $red;
				}
			}
		}
	}

	#mrr-calculations {
		margin-top: 40px;
		padding-top: 40px;
		border-top: 1px solid $gray-100;
		border-left: none;
		border-right: none;
		border-bottom: none;
		display: block;


		@include media-breakpoint-up(md) {
			color: $dark-gray;
			display: contents;
			background: rgba(44, 180, 255, 0.08);
		}
	}
}