#inputs-container {
	@extend %white-container;
	padding: 35px 20px;
	margin-bottom: 50px;
	position: relative;

	@include media-breakpoint-up(md) {
		padding: 35px;
	}

	@include media-breakpoint-up(lg) {
		margin-bottom: 0px;
		padding: 65px;
	}

	.intro {
		margin-bottom: 35px;
		text-align: center;
		h4 {
			font-size: 18px;
			font-weight: 600;
			color: $dark-gray;
		}

		p {
			margin-top: 15px;
			font-size: 13px;
			font-style: italic;
			font-weight: 400;
		}

		@include media-breakpoint-up(lg) {
			margin-bottom: 50px;
			h4 {
				font-size: 22px;
			}
		}
	}

	#inputs {
		@include media-breakpoint-up(lg) {
		    min-height: 100%;
		}

		#email-input-container {
			margin: 60px auto 50px auto;
			text-align: center;
			display: block;
			max-width: 700px;
			padding: 0 5px;

			#input-email {
				width: 69%;
				vertical-align: middle;
				margin: 0;
				display: inline-block;
				height: 44px;
			    margin-right: -2%;
			    padding: 5px;
			    font-size: 14px;
			    border: 1px solid $gray-100;
			    border-right: none;
			    position: relative;
				z-index: 5;
				border-bottom-left-radius: 5.5px;
				border-top-left-radius: 5.5px;

				@include media-breakpoint-up(md) {
					height: 48px;
					padding: 5px 10px;
				}

				&:focus, &:active {
					outline-color: $white !important;
					border-color: $primary;
				}
			}

			#submit-results, #recalculate-results {
				margin: 0;
				vertical-align: middle;
				padding: 12px 0;
				text-transform: capitalize;
				width: 30%;
				font-size: 12px;
				display: inline-block;
				border-bottom-left-radius: 0;
				border-top-left-radius: 0;
				position: relative;
				z-index: 50;
				

				@include media-breakpoint-up(md) {
					font-size: 15px;
				}
			}

			#recalculate-results {
				display: none;
				margin: 0 auto;
			    border-bottom-left-radius: 5.5px;
			    border-top-left-radius: 5.5px;
			}

			#submit-results.disabled {
				pointer-events: none !important;
			}

			#email-error-message {
				color: $red;
				font-size: 11px;
				font-style: italic;
				display: none;
				margin-top: 15px;
				margin-bottom: 0;
			}
		}
	}
}





#inputs-disable {
	position: absolute;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, .9);
	z-index: 1000;
	display: none;

	#modify-inputs-btn {
		font-size: 15px;
		font-weight: 500;
		padding: 12px 10px;
		width: 60%;
		margin: 0 auto;
		max-width: 350px;			
		text-transform: none;	
	}

}