#inputs-container {
	@extend %white-container;
	padding: 35px 20px;
	margin-bottom: 50px;
	position: relative;

	@include media-breakpoint-up(md) {
		padding: 35px;
	}

	@include media-breakpoint-up(lg) {
		margin-bottom: 0px;
		padding: 65px;
	}

	.intro {
		margin-bottom: 50px;
		h4 {
			font-size: 18px;
			font-weight: 600;
			color: $dark-gray;
		}

		p {
			margin-top: 15px;
			font-size: 13px;
			font-style: italic;
			font-weight: 400;
		}

		@include media-breakpoint-up(lg) {
			h4 {
				font-size: 22px;
			}
		}
	}

	#inputs {
		@include media-breakpoint-up(lg) {
		    min-height: 100%;
		}


		#submit-results {
			font-size: 15px;
			padding: 12px 0;
			text-transform: capitalize;
			width: 300px;
			display: block;
			margin: 30px auto;
			text-align: center;
		}

		#submit-results.disabled {
			pointer-events: none !important;
		}
	}
}





#inputs-disable {
	position: absolute;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, .9);
	z-index: 1000;
	display: none;

	#modify-inputs-btn {
		font-size: 15px;
		font-weight: 500;
		padding: 12px 10px;
		width: 60%;
		margin: 0 auto;
		max-width: 350px;			
		text-transform: none;	
	}

}