#results-container {
	@extend %white-container;
	padding: 20px 0;
	display: none;

	#full-results, #graph-container, #detail-expand, #mrr-calculations {
		padding-left: 35px;
		padding-right: 35px;
	}

	#full-results {
		display: none;

		h4 {
			margin: 25px 0 30px 0;	
			text-align: center;
		    font-weight: 600;
		    font-size: 16px;
		}
	}

	#full-results.show-results {
		@include media-breakpoint-up(md) {
			display: block;
		}
	}


	#benchmark-full-results, #experiment-full-results {
		margin-bottom: 50px;
		font-size: 12px;
	    border: 1px solid $gray-100;
	    border-radius: 5.5px;
	    border-collapse: separate;

		thead {
			font-weight: 600;
			font-size: 13px;
			color: $white;	
			display: contents;

			tr {

				th {
					color: $brand-primary;
					text-align: center;
					border: none;
					border-bottom: 1px solid $gray-100;
					border-right: 1px solid $gray-100;

					&:last-child {
						border-right: none;
					}
				}
			}
		}

		tbody {
			td, th {
				text-align: center;
				font-size: 12px;
				border: none;
				border-top: 1px solid $gray-100;
				border-right: 1px solid $gray-100;

				&:last-child {
					border-right: none;
				}
			}

			tr {
				padding: 5px;
				&:nth-child(odd) {
					background: $bg-gray;
				}

				&:first-child {
					th, td {				
						border-top: none;
					}
				}
			}
		}


	}

	#mrr-calculations {
		#benchmarkMRR {
			color: $primary;
		}
		#experimentMRR {
			color: $blue;
		}
		#adMRR.positive, #pdMRR.positive  {
			color: $green;
		}

		#adMRR.negative, #pdMRR.negative  {
			color: $red;
		}

		.calculator-table tr.mobile-row td span {
			padding-left: 5px;
		}

		.mobile-label {
			margin-right: 0;
		}
	}

	#graph-container, #graph-container-mobile {
		max-width: 1200px;
		max-height: 800px;
		position: relative;
		margin: 50px auto;


		#resultsGraph {
			margin: 0 auto;
		}
	}

	#graph-container {
		display: none;

		@include media-breakpoint-up(lg) {
			display: block;
		}
	}

	#graph-container-mobile {
		display: block;

		@include media-breakpoint-up(lg) {
			display: none;
		}
	}


	#detail-expand {
		border-top: 1px solid $light-gray;
		width: 100%;
		margin-top: 50px;
		padding: 20px 15px 10px 15px;
		text-align: center;
		cursor: pointer;
		display: none;

		@include media-breakpoint-up(md) {
			display: block;
		}

		p {
			margin-bottom: 0;
			font-size: 14px;
			color: $medium-gray;
			display: inline-block;
		    margin-right: 10px;
			vertical-align: middle;
		}

		#detail-arrow {
			width: 10px;
			transition: transform 300ms;
		}

		#detail-arrow.rotated {
			transform: rotate(180deg) !important;
		  	-ms-transform: rotate(180deg) !important; /* IE 9 */
			-moz-transform: rotate(180deg) !important; /* Firefox */
			-webkit-transform: rotate(180deg) !important; /* Safari and Chrome */
			-o-transform: rotate(180deg) !important;
		}
	}
}