$slider-dot-height: 15px;
$slider-dot-width: 15px;
$slider-border-radius: 50px;
$slider-height: 10px;

.slider-container {
	width: 100%;
	margin-top: 8px;
	display: none;

	@include media-breakpoint-up(lg) {
		display: block;
	}

	.slider-column, td, tr, th {
		width: 100%;
		border: 0 none !important;
	}

	.slider {
		position: absolute;
		left: 0px;
		top: 0px;
		overflow: visible;
		z-index: 100;
		cursor: pointer;
	}

	/* slidershell exists only
	to provide a positioning context for the range input and other elements.*/
	.slidershell {
		border: 0 none;
		position: relative;
		left: 0px;
		top: 0px;
		overflow: visible;
		width: 100%;
	}

	/* .slidertrack is the visible track on which the user drags the thumb button. */
	.slidertrack {
		border: 0 none;
		border-radius: $slider-border-radius;
		background: #edeef2;
		left: 0;
		position: absolute;
		height: $slider-height;
		width: 100%;
	}

	/* .sliderfill adds color (or a gradient as seen here) to the track as the user 
		drags the thumb. */
	.sliderfill {
		border-radius: $slider-border-radius;
		height: $slider-height;
		position: absolute;
		left: 0;
		opacity: 1;
		pointer-events: none;
		background: $brand-primary;
		z-index: 100;
		cursor: pointer;
	}

	/* .sliderthumb can be any css you like including an image. 
		The dimensions must match those found in the rule for 
		input[type=range]::-webkit-slider-thumb. */
	.sliderthumb {
		width: $slider-dot-width;
		height: $slider-dot-height;
		background-color: $brand-primary;
		border-radius: $slider-border-radius;
		position: absolute;
		left: 0px;
		top: -2.5px;
		border: 0 none;
		padding: 0px;
		margin: 0px;
		text-align: center;
		pointer-events: none;
	}

	/* .slidervalue can be styled as you see fit */
	.slidervalue {
		width: $slider-dot-width;
		height: $slider-dot-height;
		line-height: $slider-dot-height;
		color: #fff;
		font-family: helvetica,sans-serif;
		font-size: 18px;
		position: absolute;
		left: 0px;
		top: 0px;
		border: 0 none;
		border-radius: $slider-border-radius;
		padding: 0px;
		margin: 0px;
		text-align: center;
		pointer-events: none;
	}


	/* First we have to make transparent all the default elements of the range input.
		We use color: transparent to eliminate the default tick marks in IE. */

	input[type=range]::-ms-track {
		width: 100%;
		height: 100%;
		-webkit-appearance: none;
		margin: 0px;
		padding: 0px;
		border: 0 none;
		background: $brand-primary;
		color: transparent;
		overflow: visible;
	}
	input[type=range]::-moz-range-track {
		width: 100%;
		height: 100%;
		-moz-appearance: none;
		margin: 0px;
		padding: 0px;
		border: 0 none;
		background: $brand-primary;
		color: transparent;
		overflow: visible;

	}
	input[type=range] {
		width: 100%;
		height: 16px;
		opacity: 0;
		-webkit-appearance: none;
		margin: 0px;
		padding: 0px;
		border: 0 none;
		background: transparent;
		color: transparent;
		overflow: visible;
	}
	/* we need a separate rule for when the range input is to be vertical */
	input[type=range].slidervertical {
		-webkit-appearance: slider-vertical;
		writing-mode: bt-lr; /* IE */
		opacity: 0.01; /* needed to hide the default slider-vertical appearance */
	}

	input[type=range]:focus::-webkit-slider-runnable-track {
		background: transparent;
		border: transparent;
	}
	input[type=range]:focus {
		outline: none;
	}
		
	/* Make the thumbs the same size as your custom sliderthumb. 
		they will not be visible but they will be draggable. 	*/
	input[type=range]::-ms-thumb {
		width: $slider-dot-width;
		height: $slider-dot-height;
		border-radius: 0px;
		border: 0 none;
		background: transparent;
	}

	input[type=range]::-moz-range-thumb {
		width: $slider-dot-width;
		height: $slider-dot-height;
		border-radius: 0px;
		border: 0 none;
		background: transparent;
	}	
	input[type=range]::-webkit-slider-thumb {
		width: $slider-dot-width;
		height: $slider-dot-height;
		border-radius: 0px;
		border: 0 none;
		background: transparent;
		-webkit-appearance: none;
	}

	/* microsoft IE10+ and Edge - eliminates default fills before and after thumb */
	input[type=range]::-ms-fill-lower {
		background: transparent;
		border: 0 none;
	}
	input[type=range]::-ms-fill-upper {
		background: transparent;
		border: 0 none;
	}
	input[type=range]::-ms-tooltip { 
		display: none;
	}



	/* other rules you may need for page styling */





}
