.gradient-background {

	.foreground-image, .midground-image, .midground-2-image, .background-image {
		position: absolute;
		width: 100%;
		height: 100%;
		background-size: contain;
		background-repeat: no-repeat;

		@media (min-width: $breakpoint-desktop) {
			background-size: 50%;
		}

		@media (min-width: $breakpoint-large) {
			background-size: 40%;
		}

		@media (min-width: $breakpoint-xlarge) {
			background-size: 30%;
		}

	}
	

	.foreground-image {
		z-index: 13;
	}

	.midground-image {
		z-index: 12;
	}
	.midground-2-image {
		z-index: 11;
	}

	.background-image {
		z-index: 10;
	}
}

.insight.left-content {
	.gradient-background {
		.foreground-image, .midground-image, .midground-2-image, .background-image {
			background-position: 50% 50%;

			@media (min-width: $breakpoint-desktop) {
				background-position: 100% 50%;
			}

			@media (min-width: $breakpoint-large) {
				background-position: 95% 50%;
			}

			@media (min-width: $breakpoint-xlarge) {
				background-position: 85% 50%;
			}
		}
	}
}

.insight.right-content {
	.gradient-background {
		.foreground-image, .midground-image, .midground-2-image, .background-image {
			background-position: 50% 50%;

			@media (min-width: $breakpoint-desktop) {
				background-position: 0% 50%;
			}

			@media (min-width: $breakpoint-large) {
				background-position: 5% 50%;
			}

			@media (min-width: $breakpoint-xlarge) {
				background-position: 15% 50%;
			}
		}
	}
}