#real-mvps {
	.section-image {
		height: 450px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;
		border-radius: 10px;
		margin: 20px 10px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;

		@include media-breakpoint-up(md) { 
			height: 700px;
		}

		h4 {
			color: $white;
			font-weight: 300;
			font-size: 40px;
			padding: 0 20px;

			span {
				font-size: 20px;
			}
		}
	}

	#dog-mvps {
		background-image: url('https://s3-us-west-2.amazonaws.com/appcues-public/microsites/year-in-review/2018/img/real-mvps/dog.png');
	}

	#cat-mvps {
		background-image: url('https://s3-us-west-2.amazonaws.com/appcues-public/microsites/year-in-review/2018/img/real-mvps/cat.png');
	}

	#frog-mvps {
		background-image: url('https://s3-us-west-2.amazonaws.com/appcues-public/microsites/year-in-review/2018/img/real-mvps/frog.png');
	}
	

}