#thankful {
	.section-body {
		margin-top: 0;

		.thankful-card.show {
			opacity: 1;
			margin-top: 25px;	
		}

		.thankful-card {
			opacity: 0;
			transition: opacity 1s ease, margin 500ms ease;
			position: relative;
			border-radius: 10px;
			margin: 25px auto;
			background: $white;
			padding: 30px 20px;
			height: 300px;
			width: 300px;
			box-shadow: 0px 11px 28.7px 6.3px rgba(40, 29, 85, 0.06); 

			

			.icon {
				height: 100px;
				margin: 0 auto;
			}

			h5 {
				position: absolute;
				text-align: center;
				width: 100%; 
				left: 0;
				bottom: 30px;
				font-size: 18px;
				color: $med-gray;
				font-weight: 400;

				.number {
					color: $primary;
					font-size: 50px;
					font-weight: 500;
					margin-bottom: 20px;
				}

			}


		}

		@include media-breakpoint-up(sm) { 
			.thankful-card {
				height: 225px;
				width: 225px;

				.icon {
					height: 50px;
				}
			}
		}

		@include media-breakpoint-up(md) {
			margin-top: 160px;
		}

		@include media-breakpoint-up(xl) {
			.thankful-card {
				margin: 150px 10px 20px 10px; 
				height: 300px;
				width: 300px;

				.icon {
					height: 100px;
				}
			}
		}
	}
}