$input-gray: #576784;
$input-gray-light: #c0c6d9;

#form-content {
	position: absolute;
	display: none;
	top: 250px;
	z-index: 100;

	#content-container {
		width: 80%;
		margin: 0 auto;
		max-width: 1000px;
		background: $bg-gray;
		color: $black;
		border-radius: 15px;
		padding: 75px 60px;
		box-shadow: 1px 18px 38px 11.27px rgba(42, 40, 55, 0.05); 


		.form-row {
			display: none; 

			.form-group {
				label {
					padding-left: 0;
					display: block;
					font-size: 22px;
					color: #242A35;
				}

				small {
					font-size: 14px;
					color: $input-gray;
				}


				input {
					border-right: none;
					border-left: none;
					border-top: none;
					background: $bg-gray;
					color: $input-gray;
					min-width: 300px;
					border-bottom: 2px solid $input-gray-light;

					&:focus {
						outline-color: $bg-gray !important;
					}
				}

				input, button {
					font-size: 16px;
				}

				.btn-input {
					background: $white;
					color: $input-gray;
					border: 1px solid $input-gray;
				}

				.btn-input.selected {
					background: $primary;
					color: $white;
					border-color: $brand-primary-dark;
				}

				@include media-breakpoint-up(md) {
					label {
						font-size: 22px;
					}

					small {
						font-size: 14px;

					}

					input, button {
						font-size: 16px;
					}

				}
			}
		}


		#release-importance {
			margin-top: 15px;
			margin-bottom: 15px;
		
			.btn {
				width: 40px;
				height: 40px;
			}
		}

		#input-employee-number, #input-sales-team {

			.btn {
				width: 100px;
				height: 40px;
				margin: 15px 20px;
				text-transform: none;

				&:first-child {
					margin-left: 0;
				}
			}
			
		}

	}	
}