#landing {
	position: fixed;
	left: 0;
	top: 0;
	background: #0B1A38;
	z-index: 20;
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
	min-height: 800px;


	.clouds {
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;

		#foreground-clouds {
			z-index: 13;
		}

		#midground-clouds {
			z-index: 12;
		}

		#background-clouds {
			z-index: 11;
		}
	}

	

	.stars {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 9;
	}
}

#rocketship {
	position: fixed;
	bottom: 50px;
	height: 25vh;
	width: 250px;
	z-index: 100;
	left: 50px;
	max-height: 500px;

	.rocketship-part {
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		opacity: 0;
		transition: opacity 1s ease;
	}

	.rocketship-part.shown {
		opacity: 1;
	}

}

#rocket-ship.rotate {
	-webkit-transform: rotate(90deg);     /* Chrome and other webkit browsers */
	-moz-transform: rotate(90deg);        /* FF */
	-o-transform: rotate(90deg);          /* Opera */
	-ms-transform: rotate(90deg);         /* IE9 */
	transform: rotate(90deg);             /* W3C compliant browsers */
}

#short-nav {
	height: 60px;
	padding: 10px;
	color: $white;
	width: 100%;
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;

	.logo {
		height: 32px;
		position: absolute;
		top: 19px;
		left: 10px;
	}

	h1 {
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 600;
		position: absolute;
		line-height: 1;
		top: 28px;
		right: 10px;

	}
}


