#landing {
	position: relative;
	background: #0B1A38;
	color: $white;
	z-index: 20;
	height: 100vh;
	width: 100vw;
	overflow: hidden;


	.clouds {
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;

		#foreground-clouds {
			z-index: 13;
		}

		#midground-clouds {
			z-index: 12;
		}

		#background-clouds {
			z-index: 11;
		}
	}

	.stars {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 9;
	}

	#short-nav {
		height: 60px;
		padding: 10px;
		background: transparent;
		position: absolute;
		top: 0;
		left: 0;

		.logo {
			height: 32px;
		}

		h4 {
			font-size: 12px;
			text-transform: uppercase;
			font-weight: 600;
		}
	}

	#title-content {
		position: absolute;
		top: 250px;
		z-index: 50;

		h1 {
			font-size: 30px;
			margin-bottom: 15px;
		}

		h5 {
			font-size: 12px;
			line-height: 1.4;
		} 

		@include media-breakpoint-up(md) {
			h1 {
				font-size: 42px;
			}

			h5 {
				font-size: 16px;
			}
		}

	}

}


