.container-fluid {
  max-width: none;
  overflow-x: hidden;
  background: $bg-gray;
}


.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.vertical-center-container {
  display: flex; 
  flex-direction: column; 
  justify-content: center;
}

.vertical-center-container-mobile {
  @include media-breakpoint-up(md) {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
  }
}


.bold-text {
  font-weight: 900 !important;
}

.text-white {
  color: $white !important;
}

%gray-container {
    width: 90%;
    margin: 0 auto;
    color: $black;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 1px 18px 38px 11.27px rgba(42, 40, 55, 0.05); 

    @include media-breakpoint-up(md) {
      padding: 75px 60px;
    }

}

.title-content {
  position: absolute;
  top: 250px;
  z-index: 50;
  color: $white;

  h2 {
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 300;
  }

  h5 {
    font-size: 12px;
    line-height: 1.6;
  } 

  @include media-breakpoint-up(md) {
    h2 {
      font-size: 46px;
    }

    h5 {
      font-size: 16px;
    }
  }

}