.container-fluid {
  max-width: none;
  overflow-x: hidden;
  background: $bg-gray;
}


.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.vertical-center-container {
  display: flex; 
  flex-direction: column; 
  justify-content: center;
}

.vertical-center-container-mobile {
  @include media-breakpoint-up(md) {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
  }
}


.bold-text {
  font-weight: 900 !important;
}

.text-white {
  color: $white !important;
}

%gray-container {
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
    background: $bg-gray;
    color: $black;
    border-radius: 15px;
    padding: 75px 60px;
    box-shadow: 1px 18px 38px 11.27px rgba(42, 40, 55, 0.05); 
}