.form-buttons {
	margin-top: 25px;
}

.moving-button, #submit-button, #download-button, #appcues-button {
	padding: 10px 20px;
	position: relative;
	text-transform: capitalize;

	span {
		font-size: 16px;
		line-height: 1;
		vertical-align: middle;
		text-transform: capitalize;
	}

	.button-icon {
		width: 20px;
		vertical-align: middle;
	}
}

#submit-button {
	display: none;
	span {
		margin-left: 5px;
	}
}

#next-button {
	display: none;
}


#submit-button.show-btn, #next-button.show-btn {
	display: inline-block !important;
}

#next-button, #get-started-button {
	span {
		margin-right: 5px;
	}
}

#back-button {
	border-color: $light-gray;
	color: $dark-gray;
	
	span {
		margin-left: 5px;
	}
}