$date-container-size: 45px;

#results {
	display: none;
	margin-bottom: 200px;
	font-family: "Muli", sans-serif !important;
}

#results-content {
	position: relative;
	margin-top: 100px;
	z-index: 300;

	#content-container {
		@extend %white-container;
		max-width: 1400px;
		padding-left: 15px;
		padding-right: 5px;

		@include media-breakpoint-up(md) {
			padding-right: 25px;	
			padding-left: 25px;		
		}

		#results-title {
			font-size: 24px;
    		margin-bottom: 50px;
		}

		#results-end {
			margin-top: 75px;
			padding-right: 10px;

			@include media-breakpoint-up(md) {
				padding-right: 0;
			}

			.btn {
				margin-left: 10px;
				margin-right: 10px;
			}

			#appcues-signup {
				margin-top: 25px;
				font-size: 14px;

				a {
					color: $primary;
				}
			}
		}
	}

	#timeline-content {

		#line {
			width: 1px;
			position: absolute;
			top: 0;
			bottom: 0;
			z-index: 1;
			background: $light-gray;

			@include media-breakpoint-up(lg) {
				left: calc(50% + .5px);
			}
		}

		.milestone {
			position: relative;
			margin: 0;
			margin-right: auto;
    		padding-left: 40px;
			margin-bottom: 25px;

			@include media-breakpoint-up(md) {
				padding-left: 50px;
			}
			

			

			.date-container {
				text-transform: uppercase;
				color: $light-gray;
				background: $white;
				border: 1px solid $light-gray;
				width: $date-container-size;
				height: $date-container-size;
				border-radius: $date-container-size;
				position: absolute;
				top: 0;
				z-index: 10;
				left: -($date-container-size /2);


				.date {
					line-height: 1;
					transform: translate(-50%, -50%);
					top: 50%;
					left: 50%;
					position: absolute;
					color: #979eb4;
					font-size: 10px;

					span {
						display: block;
						font-size: 15px;
						line-height: 1;
						color: $primary;
						margin-top: 2.5px;
					}

				}


			}

			.milestone-content {
				border-radius: 15px;

				.header {
					background: $primary;
					color: $white;
					font-size: 18px;
					padding: 15px 50px 15px 25px;
					text-align: left;
					position: relative;
					font-family: "Muli", sans-serif !important;

					h5 {
						display: inline-block;
						line-height: 1.1;
						margin: 0;
						vertical-align: middle;
						font-size: 14px;

						@include media-breakpoint-up(md) {
							font-size: 16px;
						}
					}

					.icon {
						height: 20px;
						position: absolute;
						top: 20px;
						right: 25px;
					}
				}

				.body-content {
					padding: 20px 25px;
					border: 1px solid $light-gray;
					border-top: none;
					border-bottom-right-radius: 15px;
					border-bottom-left-radius: 15px;
					font-family: "Muli", sans-serif !important;

					.due-date {
						text-align: left;

						.icon {
							display: inline-block;
							width: 18px;
							margin-right: 5px;
						}

						h6 {
							font-size: 13px;
							font-weight: 500;
							color: #242a35;
							display: inline;
							vertical-align: middle;
							font-family: "Muli", sans-serif !important;
						}
					}

					.body {
						margin-top: 20px;
						font-size: 15px;
						color: #576784;
						text-align: left;
						font-weight: 300;
						font-family: "Muli", sans-serif !important;

						p {
							margin-bottom: 0;
						}

						ul {
							padding-left: 20px;
						}

					}
				}

			}

			@include media-breakpoint-up(lg) {
				width: 50%;
				padding-left: 0;
				margin-bottom: 0;
				margin: 0;
				
				&:nth-child(odd) {
					margin-left: auto;


					.date-container {
						left: -($date-container-size / 2);
						right: auto;
					}
					
					.milestone-content {
						margin: 20px 0 20px 50px;

						.header {
							border-top-right-radius: 15px;
							margin-left: auto;
						}
					}

					
						
				}

				&:nth-child(even) {
					margin-right: auto;

					.date-container {
						left: auto;
						right: -($date-container-size / 2);
					}

					.milestone-content {
						margin: 20px 50px 20px 0;

						.header {
							border-top-left-radius: 15px;	
							margin-right: auto;
						}
					}
				}
			}
			
		}
	}
}