
#share-navbar {
	height: 60px;
	padding: 10px;
	color: $white;
	width: 100%;
	background: transparent;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;

	@include media-breakpoint-up(md) {
		padding: 10px 30px;
		color: $primary;
	}

	.nav-content {
		position: relative;
		max-width: 1400px;
		margin: 0 auto;

		.social-share {
			position: absolute;
			right: 0;
			top: 4px;

			.at-share-btn-elements {
				.at-share-btn {
					background: transparent !important;
					transform: none !important;
					border: 2px solid #c0c6d9 !important;
					border-radius: 40px !important;


					&:hover {
						transform: none !important;

					}

					&:focus {
						outline: none;
					}
					
				}
			}
		}

		.logo {
			height: 20px;
			position: absolute;
			top: 10px;
			left: 0;

			@include media-breakpoint-up(md) {
				height: 30px;
				top: 5px;
			}
		}
	}

}
	

	
