#results-container {
	@extend %white-container;
	padding: 85px 0;

	@include media-breakpoint-up(md) {
	    min-height: 100%;
	}

	@include media-breakpoint-up(lg) {
		padding: 85px 0;
	}


	.result {
		padding: 25px;
		border-bottom: 1px solid $light-gray;

		&:first-child {
			padding-top: 0 !important; 
		}

		h5 {
			font-size: 13px;
			text-transform: uppercase;
			color: $dark-gray;
			letter-spacing: .5px;
			font-weight: 700;
		}

		p {
			font-size: 13px;
			line-height: 1.5;
			color: $medium-gray;
			font-weight: 600;
		}

		h3, h4 {
			color: $gray-100;
			font-weight: 400;
			margin-bottom: 10px;

			&:before {
				content: "\0024"; 
				font-size: 20px;
    			vertical-align: top;
			}
		}

		h3 {
			font-size: 60px;

			&:before {
				font-size: 30px;
			}
		}

		h4 {
			font-size: 40px;

			&:before {
				font-size: 20px;
			}
		}

		@include media-breakpoint-up(lg) {
			padding: 30px 40px;

			h5 {
				font-size: 13px;
			}

			p {
				font-size: 14px;
			}

			h4 {
				font-size: 40px;
			}

			h3 {
				font-size: 60px;
			}
		}
		
		h3.active {
			color: $primary;
		}

		h4.active {
			color: $medium-gray;
		}

		.extra-details {
			.clock-icon {
				width: 15px;
				margin-right: 5px;
				display: inline-block;
			}

			p {
				display: inline-block;
				font-size: 14px;
				color: $dark-gray;
				font-weight: 700;
				vertical-align: middle;
				margin-bottom: 0;
			}


			ul {
				list-style-type: none;
				padding-left: 22px;
				padding-bottom: 0;

				li {
					font-weight: 700;
					font-size: 13px;
					line-height: 1.5;
					color: $medium-gray;
				}
			}	
		}

		
	}

}