#fw-action-goal {
	align-items: center;
  	justify-content: center;
  	
	span {
		font-size: 12px;
		font-weight: 600;
	}

	.fw-goal-segment {
		width: 30%;
		text-align: center;

		img {
			width: 15px;
			margin-top: -5px;	
			margin-right: 5px;	
		}
	}

	#fw-goal-middle-action {
		width: 25%;
		text-align: center;
		background: $white;

	}

	.fw-goal-dotted-line {
		width: 15%;
		
	}


	.fw-goal-dotted-line.desktop {
		display: none;
		@include media-breakpoint-up(sm) {
			display: block;
		}
	}

	.fw-goal-dotted-line.mobile {
		display: block;

		@include media-breakpoint-up(sm) {
			display: none;
		}
	}


	@include media-breakpoint-up(sm) {
		.fw-goal-segment {
			width: 22.5%;
		}

		#fw-goal-middle-action {
			width: 15%;
		}
		.fw-goal-dotted-line {
			width: 20%;
		}
	}

}

#fw-goal-gradient {
	border-radius: 15px;
	height: 10px;
	pointer-events: none;
	margin: 10px auto;
	width: 95%;
}