#flywheel-section {
	width: 90%;
	max-width: 800px;
	margin: 20px auto;	
	display: block;
	padding: 30px 10px;


	.flywheel-section {
		cursor: pointer;
		transition: opacity 300ms ease;
	}

	.flywheel-section.inactive {
		&:hover {
			opacity: 0;		
		}
	}

	.flywheel-section.active {
		opacity: 0;		
	}
}

#flywheel-section.active {
	width: 90%;
	max-width: 600px;
	margin: 0 auto;
	display: inline-block;
	vertical-align: top;

	@include media-breakpoint-up(lg) {
		width: 40%;
		margin-left: 5%;
	}
}



.st0{fill:url(#SVGID_1_);}
.st1{fill:#FFFFFF;}
.st2{fill:url(#SVGID_2_);}
.st3{fill:url(#SVGID_3_);}
.st4{fill:url(#SVGID_4_);}
.st5{fill:url(#SVGID_5_);}
.st6{fill:url(#SVGID_6_);}
.st7{fill:url(#SVGID_7_);}
.st8{fill:url(#SVGID_8_);}
.st9{fill:#DCE4F4;}
.st10{fill:#242A35;}


.st0{fill:url(#SVGID_1_--inject-1);}
.st1{fill:#FFFFFF;}
.st2{fill:url(#SVGID_2_--inject-1);}
.st3{fill:url(#SVGID_3_--inject-1);}
.st4{fill:url(#SVGID_4_--inject-1);}
.st5{fill:url(#SVGID_5_--inject-1);}
.st6{fill:url(#SVGID_6_--inject-1);}
.st7{fill:url(#SVGID_7_--inject-1);}
.st8{fill:url(#SVGID_8_--inject-1);}
.st9{fill:#DCE4F4;}
.st10{fill:#242A35;}