#flywheel-section {
	width: 90%;
	max-width: 800px;
	margin: 20px auto;	
	display: block;
	padding: 30px 10px;


	.flywheel-section {
		cursor: pointer;
		transition: opacity 300ms ease;
	}

	.flywheel-section.inactive {
		&:hover {
			opacity: 0;		
		}
	}

	.flywheel-section.active {
		opacity: 0;		
	}
}

#flywheel-section.active {
	width: 90%;
	max-width: 600px;
	margin: 0 auto;
	display: inline-block;
	vertical-align: top;

	@include media-breakpoint-up(lg) {
		width: 45%;
		margin-left: 5%;
	}
}



.nav-btn {
	display: none;
	border-radius: 5px;
	border: 1px solid $light-gray;
	padding: 20px;
	width: 250px;
	position: relative;
	text-align: center;
	cursor: pointer;
	margin: 20px auto;

	span {
		font-size: 14px;
		color: $dark-gray;
		font-weight: 600;
		text-transform: capitalize;
		line-height: 1;
	}

	img {
		vertical-align: middle;
		width: 25px;
		position: absolute;


		&:first-child {
			left: 20px;
		}

		&:last-child {
			right: 20px;
		}
	}

	.segment-icon {
		top: 16.5px;
	}

	.arrow-icon {
		top: 22px;
	}
}

.nav-btn.active {
	@include media-breakpoint-up(lg) {
		display: block;
	}
}

#fw-previous-btn {
	.arrow-icon {
		transform: rotate(180deg);
	}
}




.st0{fill:url(#SVGID_1_);}
.st1{fill:#FFFFFF;}
.st2{fill:url(#SVGID_2_);}
.st3{fill:url(#SVGID_3_);}
.st4{fill:url(#SVGID_4_);}
.st5{fill:url(#SVGID_5_);}
.st6{fill:url(#SVGID_6_);}
.st7{fill:url(#SVGID_7_);}
.st8{fill:url(#SVGID_8_);}
.st9{fill:#DCE4F4;}
.st10{fill:#242A35;}


.st0{fill:url(#SVGID_1_--inject-1);}
.st1{fill:#FFFFFF;}
.st2{fill:url(#SVGID_2_--inject-1);}
.st3{fill:url(#SVGID_3_--inject-1);}
.st4{fill:url(#SVGID_4_--inject-1);}
.st5{fill:url(#SVGID_5_--inject-1);}
.st6{fill:url(#SVGID_6_--inject-1);}
.st7{fill:url(#SVGID_7_--inject-1);}
.st8{fill:url(#SVGID_8_--inject-1);}
.st9{fill:#DCE4F4;}
.st10{fill:#242A35;}