#fw-home-content {
	text-align: center;
	margin: 100px auto 50px auto;
	width: 90%;
	max-width: 800px;

	h1 {
		color: $dark-gray;
		font-size: 30px;
		margin: 0 0 20px 0;

		@include media-breakpoint-up(md) {
			font-size: 50px;
		}
	}

	h3 {
		color: $medium-gray;
		font-size: 14px;
		margin: 0 0 10px 0;
		line-height: 1.8;

		@include media-breakpoint-up(md) {
			font-size: 16px;
		}
	}
}

#fw-main-content {
	text-align: center;
	max-width: 1300px;
	margin: 50px auto 0 auto;
	padding: 0 15px;
	position: relative;
	z-index: 100000;

	@include media-breakpoint-up(lg) {
		padding: 0 25px;
	}
}


#fw-background-gradient {
	position: absolute;
	z-index: 1001;
	width: 35%;
	max-width: 750px;
	min-width: 150px;
	top: 0;
	left: 0;
	opacity: 0;

	@include media-breakpoint-up(lg) {
		width: 20%;
		min-width: 215px;
	}
}

#fw-background-gradient.active {
	opacity: 1;
}

#fw-appcues-logo {
	position: absolute;
	z-index: 105;
	width: 110px;
	left: 20px;
	top: 20px;

	@include media-breakpoint-up(lg) {
		width: 150px;
		left: 20px;
    	top: 15px;
	}

	@include media-breakpoint-up(xl) {
		left: 40px;
	}

}

#fw-gradient-image {
	position: absolute;
	z-index: 101;
	width: 100%;
}

#fw-swirl-image {
	display: none;
	//hide swirl on mobile
	position: absolute;
	z-index: 105;
	top: 15vw;
	left: 10px;
	width: 100px;

	@include media-breakpoint-up(lg) {
		left: 20px;
		top: 20vw;
		width: 150px;
	}
}
