#flywheel-section-details {
	display: none;
	padding: 30px 15px;
	width: 95%;
	margin: 0 auto;
	text-align: left;
	background: $white;
	border-radius: 15px;
	box-shadow: 1px 18px 38px 11.27px rgba(42, 40, 55, 0.05);

	@include media-breakpoint-up(sm) {
		padding: 30px;
	}	

	@include media-breakpoint-up(lg) {
		width: 50%;
		float: left;
		padding: 40px;
	}

	@include media-breakpoint-up(xl) {
		padding: 40px 60px;
	}

	#fw-section-header {
		color: $dark-gray;
		font-size: 24px;
		margin: 0 0 15px 0;
		font-weight: 600;
	}

	#fw-section-description {
		color: $medium-gray;
		font-size: 14px;
		line-height: 1.8;
		margin: 0 0 20px 0;
	}
}


#flywheel-section-details.active {
	display: inline-block;
	max-width: 600px;
	vertical-align: top;
}	


#fw-stage-content, #fw-action-content {
	display: none;

	.fw-subsection {
		width: 100%;
		padding: 30px 0 10px 0;
		text-align: left; 


		h5 {
			text-transform: uppercase;
			font-weight: 800;
			color: $dark-gray;
			display: block;
			width: 100%;
			font-size: 11px;
			letter-spacing: 1px;
			margin: 10px 0 15px 0;
		}

		.fw-subection-content {
			display: flex;

			.fw-stage-goal, .fw-stage-characteristic {
				 margin-right: 15px;
				vertical-align: middle;
				text-align: center;
				padding: 0 5px;

				@include media-breakpoint-up(sm) {
					text-align: left;
					padding: 0;
				}

				.fw-stage-icon {
					width: 22px;
					display: block;
					margin: 0 auto 10px auto;

					@include media-breakpoint-up(sm) {
						margin: 0 5px 0 0;
						display: inline-block;
					}
				}

				span {
					vertical-align: middle;
					font-size: 13px;
					color: $medium-gray;
					font-weight: 300;
					line-height: 1.5;
				}
			}	
		}

		#fw-action-data, #fw-action-resources {
			display: block;

			@include media-breakpoint-up(sm) {
				display: flex;
			}

		}

		
		.fw-data-section, .fw-resource-section {	
			width: 100%;
			padding: 15px;
			border-radius: 15px;
			margin-top: 15px;

			h6 {
				color: $dark-gray;
			}

			p {
				color: $medium-gray;
				font-size: 12px;
				margin: 15px 0;
			}

			@include media-breakpoint-up(sm) {
				width: 50%;
				margin-top: 0;

				&:first-child {
					margin-right: 15px;
				}

				&:last-child {
					margin-left: 15px;
				}
			}

			

		}		

		.fw-data-section {
			background: $bg-gray;
			position: relative;

			h6 {
				font-size: 40px;
				font-weight: 400;
				line-height: 1;
			}
			
			img {
				position: absolute;
				width: 30px;
			    right: 15px;
			    top: 17.5px;
			}
		}

		.fw-resource-section {
			border: 1px solid $gray-100;
			
			h6 {
				font-size: 15px;
				font-weight: 700;
			}				

			p {
				margin-bottom: 25px;
			}

			a {
				text-decoration: none !important;

				&:hover {
					text-decoration: none !important;
				}
				span {
					color: $dark-gray;

				}

				img {
					margin-top: -2.5px;
					width: 20px;
					margin-left: 10px;
				}
			}
			

		}
		
	}
}

#fw-stage-content.active, #fw-action-content.active {
	display: block;
}


